<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">

<head>
	<title>SHOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

</head>

<body>
	<div class="mt-4" layout:fragment="content">

		<div class="card text-center">
			<div class="card-header">
				<h1>My Cart</h1>
			</div>

			<div class="card-body">
				<table class="table table-dark table-striped table-hover">
					<thead>
						<tr>
							<th>DESCRIPTION</th>
							<th>QUANTITY</th>
							<th>PRICE</th>
							<th>WITHDRAW</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ca:${cartArticles}">
							<td th:text="${ca.description}"></td>
							<td th:text="${ca.quantity}"></td>
							<td th:text="${ca.price}"></td>
							<td>
								<a class="btn btn-danger btn-sm" th:href="@{ shop(idToRm=${ca.id})}">Remove</a>
							</td>
						</tr>
					</tbody>
					<tr class="bg-success">
						<td>Total</td>
						<td></td>
						<td th:text="${totalPrice}"></td>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="card-footer text-muted">
				<a class="btn btn-secondary btn-block">Validate cart !!</a>
				<a th:href="@{/shop}" class="btn btn-secondary btn-block">Continue shoping !!</a>
			</div>
		</div>

	</div>
</body>

</html>