<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">

<head>
	<title>SHOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="mt-4" layout:fragment="content">

		<div class="row g-2">
			<div class="col-6">
				<div class="card text-center">
					<div class="card-header">
						<h1>Customer informations</h1>
					</div>

					<div class="card-body">
						<table class="table table-light table-striped table-hover">
							<tbody>
								<tr> Customer: </tr>
								<!--<tr th:text="${ user.email}"></tr>-->
								<tr>TEST</tr>
								</br>
								<tr> Date: </tr>
								<tr th:text="${ date}"></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card text-center">
					<div class="card-header">
						<h1>My Cart</h1>
					</div>


					<div class="card-body">
						<table class="table table-dark table-striped table-hover">
							<thead>
								<tr>
									<th>DESCRIPTION</th>
									<th>QUANTITY</th>
									<th>PRICE</th>
									<th>WITHDRAW</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="ca:${cartArticles}">
									<td th:text="${ca.description}"></td>
									<td th:text="${ca.quantity}"></td>
									<td th:text="${ca.price}"></td>
									<td>
										<a th:href="@{ /shop/cart(idToRm=${ca.id})}"
											class="btn btn-danger btn-block">Remove
									</td>
								</tr>
							</tbody>/
							<tr class="bg-success">
								<td>Total</td>
								<td></td>
								<td th:text="${totalPrice}"></td>
								<td></td>
							</tr>
						</table>
					</div>
					<div class="card-footer text-muted">
						<a onclick="return confirm('Are you sure?')" th:href="@{saveOrder}"
							class="btn btn-secondary btn-block">Order?</a>
					</div>
				</div>
			</div>
		</div>
</body>

</html>