<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">

<head>
	<title>SHOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="mt-4" layout:fragment="content">
		<div class="container">


			<div class="row g-2">
				<div class="col-6">
					<div class="card">
						<div class="card-header text-center">
							<h1>Customer informations</h1>
						</div>

						<div class="card-body">
							<table class="table table-light table-striped table-hover">
								<tbody>
									<tr><Strong>Customer : </Strong></tr>
									<tr th:text="${ customer.firstName +' '}"></tr>
									<tr th:text="${ customer.lastName}"></tr>
									</br>
									<tr><Strong>Address : </Strong></tr><br>
									<tr th:text="${ customer.address}"></tr>
									</br>
									<tr><Strong>Phone : </Strong></tr>
									<tr th:text="${ customer.phone}"></tr>
									</br>
									<tr><Strong>Email : </Strong></tr>
									<tr th:text="${ customer.email}"></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card text-center">
						<div class="card-header">
							<h1>My Cart</h1>
						</div>


						<div class="card-body">
							<table class="table table-dark table-striped table-hover">
								<thead>
									<tr>
										<th>ID</th>
										<th>DESCRIPTION</th>
										<th>QUANTITY</th>
										<th>UNIT PRICE</th>
										<th>TOTAL</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="ca:${cartArticles}">
										<td th:text="${ca.id}"></td>
										<td th:text="${ca.description}"></td>
										<td th:text="${ca.quantity}"></td>
										<td th:text="${ca.price}"></td>
										<td th:text="${ca.price * ca.quantity }"></td>
									</tr>
								</tbody>
								<tr class="bg-success">
									<td>Total</td>
									<td></td>
									<td></td>
									<td></td>
									<td th:text="${totalPrice}"></td>
								</tr>
							</table>
						</div>
						<div class="card-footer text-muted">
							<a onclick="return confirm('Are you sure?')"
								th:href="@{saveOrder(customerId=${customer.id})}"
								class="btn btn-secondary btn-block">Order</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>